@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto+Mono:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --page-padding: 1rem 2.2rem;
  --custom-font-size: 1.1rem;
}

body {
  background-color: #ffffed;
  color: #303134;
  font-family: "Courier", Arial, Helvetica, sans-serif;
}

.dark-body {
  background-color: #303134;
  color: #ffffed;
}

.App-logo {
  width: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: var(--page-padding);
  font-family: "Roboto Mono";
  font-size: var(--custom-font-size);
  box-shadow: -5px 13px 17px -4px rgba(123, 124, 126, 0.404);
  -webkit-box-shadow: -5px 13px 17px -4px rgba(123, 124, 126, 0.404);
  -moz-box-shadow: -5px 13px 17px -4px rgba(123, 124, 126, 0.404);
}

.dark-nav {
  background-color: #202124;
  box-shadow: -5px 13px 17px -4px rgba(32, 33, 36, 0.75);
  -webkit-box-shadow: -5px 13px 17px -4px rgba(32, 33, 36, 0.75);
  -moz-box-shadow: -5px 13px 17px -4px rgba(32, 33, 36, 0.75);
}

.nav-logo {
  display: flex;
  justify-content: space-around;
  gap: .5rem;
}

.nav-logo-text {
  align-self: center;
  color: #61daf7;
  font-size: 2rem;
}

.nav-title {
  align-self: center;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main {
  padding: var(--page-padding);
  margin-top: 3rem;
}

main::after {
  content: "";
  background-image: url(./images/navLogo.png);
  background-size: calc(15rem + 10vmin);
  background-repeat: no-repeat;
  opacity: 0.3;
  top: 35%;
  left: 85%;
  bottom: 20%;
  right: 0;
  position: absolute;
}

.dark-main::after {
  background-color: #303134;
  background-blend-mode: soft-light;
}

main h1 {
  font-size: calc(var(--custom-font-size) + 5vmin - .2rem);
  width: 75vw;
  letter-spacing: -0.05em;
}

main ul {
  font-size: calc(var(--custom-font-size) + 1.5vmin);
  /* list-style: none; */
  max-width: 60vw;
}

main ul > li {
  padding: .9rem;
  list-style-type: square;
}

/* Color the list style */
main ul > li::marker {
  color: #61daf7;
  font-size: 1.6rem;
}

.theme-switch {
  display: flex;
  gap: .6rem;
  align-self: center;
}

.theme-switch > span {
  font-size: .8rem;
  font-weight: 700;
}

.faded {
  opacity: .3;
}

.theme-switch .mode-toggler,
.theme-switch .dark-toggler {
  position: relative;
  width: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.mode-toggler .circle,
.dark-toggler .circle {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #202124;
  border-radius: 50%;
  top: 0;
}

.mode-toggler .circle {
  left: 0;
  transition: all 1s ease;
}

.dark-toggler .circle {
  right: 0;
  transition: all 1s ease;
}

@media screen and (max-width: 767px) {
  .App-nav {
    --page-padding: 1rem;
  }

  .App-logo {
    width: 40px;
    height: 40px;
    align-self: center;
  }

  .nav-logo {
    gap: .3rem;
  }

  .nav-logo-text {
    font-size: var(--custom-font-size);
  }

  .nav-title {
    font-size: calc(var(--custom-font-size) - 5px);
    align-self: center;
  }

  main h1 {
    text-align: center;
    width: 75vw;
  }

  main ul {
    max-width: 90vw;
  }
}